$margin-side: 5.857vw;
$margin-top: 40px;

$mc-size: (
    h: 14.641vw,
    //200px
    w: 21.962vw //300px
);

//-------------------------- images dimensions ----------------------------- 

$img-tablet: (
    w: 500px,
    h: 300px
);

$img-smart: (
    w: 300px,
    h: 200px
);